#onglets {
    border-bottom: 1px solid black;
    margin-top: 1%;
    padding: 26px;
    list-style-type: none;
}

#onglets li {
    float: left;
    border: 1px black solid;
    border-radius: 4px 4px 1px 1px;
    padding: 2px;
    margin: 2px;
    height: 19px;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}