@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap');


* {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font: 300;
}


body {
    background-color: #B5D3A7;
}
.margin {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.margin main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #7BB292;
    border-radius: 05px;
    overflow: hidden;
    width: 80%;
}


.margin main h1 {
    color: white;
}

.margin main label {
    color: white;
}

.margin main input[type=text] {
    width: 100%;
    font: bold;

    padding: 12px 20px;
    font-size: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.margin main input[type=text]:focus {
    outline: none;
}

button {
    margin: 1px;
}


.text input {
    width: 100%;
    height: 550px;
    
}

/* Onglet */


#tabs {
    display: flex;
    justify-content: center;

    margin-top: 1%;

    padding: 26px;
    list-style-type: none;
}

#tabs li {
    float: left;
    border: 2px  rgba(3, 3, 3, 0.25) solid;
    background-color:  rgba( 255, 255, 255, 0.25 );
    border-radius: 4px 4px 1px 1px;
    padding: 2px;
    margin: 2px;
    height: 19px;
}

#tabs li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#menu {
    height: 65px;
}

/* Bar */
img {
    width: 2%;
}
textarea {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    background: rgba( 255, 255, 255, 0.25 );
    border: 5px solid rgba(3, 3, 3, 0.25);
    border-radius: 5px;
    color: black;
    font-size: 20px;
} 



textarea:focus {
    outline: none;
}

#tools {
    display: flex;
    justify-content: center;
    
}

#tools-text {
    

}

.pad-button {
    padding: 25px;
}

#button {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #3eaa6b;
    border: 05px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

 #button:hover {
    background-color: #02d386;
 }

 /*responsive */




/* for screens with a minimum width of 769px */
@media only screen and (min-width: 375px) {
    .margin {
        margin: 0 auto;
        padding: 20px; /* add 20px padding */
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #7BB292;
        border-radius: 5px;
        padding: 15px;
        height: 430px;
        width: 80%; /* main takes up 80% of the page */
        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 130px;
    }
}

/* for screens with a maximum width of 768px */
@media only screen and (min-width: 414px) {
    .margin {
        margin: 0 auto;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 630px;
        width: 90%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 320px;
        width: 100%;
        margin-top: 20px;
    }
}

/* for screens with a maximum width of 768px */
@media only screen and (min-width: 360px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 500px;
        width: 90%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 190px;
        width: 100%;
        margin-top: 20px;
    }
}


/* for screens with a maximum width of 768px */
@media only screen and (min-width: 375px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 420px;
        width: 90%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 110px;
        width: 100%;
        margin-top: 20px;
    }
}


/* for screens with a maximum width of 768px */
@media only screen and (min-width: 390px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 600px;
        width: 90%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 290px;
        width: 100%;
        margin-top: 20px;
    }
}


/* for screens with a maximum width of 768px */
@media only screen and (min-width: 414px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 680px;
        width: 95%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 350px;
        width: 100%;
        margin-top: 20px;
    }
}

/* for screens with a maximum width of 768px */
@media only screen and (min-width: 768px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 780px;
        width: 95%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 450px;
        width: 100%;
        margin-top: 20px;
    }
}


/* for screens with a maximum width of 768px */
@media only screen and (min-width: 812px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 920px;
        width: 95%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 600px;
        width: 100%;
        margin-top: 20px;
    }
}


@media only screen and (min-width: 912px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 1120px;
        width: 95%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 800px;
        width: 100%;
        margin-top: 20px;
    }
}





@media only screen and (min-width: 412px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 670px;
        width: 100%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 350px;
        width: 95%;
        margin-top: 20px;
    }

}

@media only screen and (min-width: 540px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 480px;
        width: 95%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 150px;
        width: 100%;
        margin-top: 20px;
    }
}


@media only screen and (min-width: 768px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 800px;
        width: 100%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 450px;
        width: 95%;
        margin-top: 20px;
    }

}






@media only screen and (min-width: 820px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 930px;
        width: 100%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 610px;
        width: 95%;
        margin-top: 20px;
    }

}

@media only screen and (min-width: 912px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 1100px;
        width: 100%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 750px;
        width: 95%;
        margin-top: 20px;
    }

}

@media only screen and (min-width: 1024px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 360px;
        width: 100%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 50px;
        width: 95%;
        margin-top: 20px;
    }

}


@media only screen and (min-width: 1280px) {
    .margin {
        margin: 0 auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .margin main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        height: 550px;
        width: 100%;

        margin: 0 auto; /* center the main element horizontally */
    }
    
    .margin main textarea {
        height: 230px;
        width: 95%;
        margin-top: 20px;
    }

}