
main {
    background-color:   #3B5249;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    
}

textarea {
    width: 300px;
    height: 100px;
}

textarea:focus {
    outline: none;
}

@media only screen and (min-width: 280px) {
    main {
        color: white;
        height: 470px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
        width: 80%;
    }



}

@media only screen and (min-width: 360px) {
    main {
        color: white;
        height: 550px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
    }



}


@media only screen and (min-width: 375px) {
    main {
        color: white;
        height: 478px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
    }



}

@media only screen and (min-width: 390px) {
    main {
        color: white;
        height: 660px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
    }



}


@media only screen and (min-width: 393px) {
    main {
        color: white;
        height: 670px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
    }



}

@media only screen and (min-width: 412px) {
    main {
        color: white;
        height: 730px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
    }



}

@media only screen and (min-width: 414px) {
    main {
        color: white;
        height: 710px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
    }



}


@media only screen and (min-width: 540px) {
    main {
        color: white;
        height: 550px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
    }



}

@media only screen and (min-width: 768px) {
    main {
        color: white;
        height: 860px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
        width: 80%;
    }



}

@media only screen and (min-width: 775px) {
    main {
        color: white;
        height: 690px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 200px;
        width: 80%;
    }



}


@media only screen and (min-width: 820px) {
    main {
        color: white;
        height: 990px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 500px;
        width: 80%;
    }



}


@media only screen and (min-width: 912px) {
    main {
        color: white;
        height: 1200px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 500px;
        width: 80%;
    }



}

@media only screen and (min-width: 1024px) {
    main {
        color: white;
        height: 410px;
    }


    main div p {
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 100px;
        width: 60%;
    }



}

@media only screen and (min-width: 1280px) {
    main {
        font-size: 30px;

        color: white;
        height: 1280px;
    }


    main div p {
        display: flex;
        justify-content: left;
        flex-direction: column;
        
    }

    textarea {
        height: 500px;
        width: 60%;
    }



}


@media only screen and (min-width: 2500px) {
    main {

        color: white;
        height: 1300px;
    }


    main div p {
        font-size: 30px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        
    }
    main div p h1 {
        font-size: 40px;
        display: flex;
        justify-content: right;
        flex-direction: column;
        
    }

    textarea {
        height: 700px;
        width: 80%;
    }



}