*{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}





footer {
  position:absolute;
  bottom:0;
  width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98B4A4;
    height: 110px;
    width: 100%;
    
}

  

footer ul li {
    display: inline;
    padding: 3px;

}


