*{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}





footer {
    position: absolute;
    left: 0;
    bottom: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98B4A4;
    height: 110px;
    width: 100%;
}

  

footer ul li {
    display: inline;
    padding: 3px;

}

@media only screen and (min-width: 667px) {
    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }

@media only screen and (min-width: 360px) {
    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }


@media only screen and (min-width: 375px) {
    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }


@media only screen and (min-width: 412px) {
    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }


@media only screen and (min-width: 896px) {
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
    }
  }


  @media only screen and (min-width: 1024px) {
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
    }
  }

