@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap');

* {
    list-style-type: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
    
}

body {
    background-color: #ffc56096;
}


header {
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    top: 0;
    background-color: #5EC262;

}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
}





header nav h1 {
    margin: 15px;
}

/*admin*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

section table {
    border-collapse: collapse;
    width: 100%;
    color: black;
}

section table td , table th {
    border: 1px solid #5EC262;
    padding: 8px;
}

section table tr:nth-child(even){background-color: #f2f2f2;}

section table tr:hover {background-color: #ddd;}


section th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#04AA6D ;
    color: white;
}

section table tr td button {
    background-color: #04AA6D;
    border: 05px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

section table tr td button:hover{
    background-color: #02d386;
}


section table tr td button a {
    color: white;
    text-decoration: none;}

    section table tr td button a:visited{
        color: red;
    }



/*register form */

.form-main {


}

.form-main form {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    background-color: rgba( 255, 255, 255, 10 ) ;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border: 5px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    margin: auto;
    width: 40%;
}

form input{
    background: rgba(255, 255, 255, 0.2);
	border: 3px solid rgba(255, 255, 255, 0.342);
	border-radius: 5px;
	margin: 5px;
	width: 120px;
}

form input:focus{
    outline: none;

}
